@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    var book = ViewBag.Book;

}


@if (book == null)
{


    <h1>Book Not Found</h1>
}
else
{
    <div class="container mb-2">
        <div class="title">
            <h1>Detailed Information</h1>
        </div>
        <div class="book-detail-container">
            <div class="book-detail-thumbnail">
                <img src="/images/@book.Avatar" />
            </div>
            <div class="book-detail-description">
                <h4>@book.Title</h4>
                <ul class="book-detail-list">
                    <li class="book-detail-item">
                        <strong>Category: </strong>
                        <span>@book.Category?.Name</span>
                    </li>
                    <li class="book-detail-item">
                        <strong>Author: </strong>
                        <span>@(book.Author.FirstName + " " + book.Author.LastName )</span>
                    </li>
                    <li class="book-detail-item">
                        <strong>Publisher :</strong>
                        <span>@book.Publisher</span>
                    </li>
                    <li class="book-detail-item">
                        <strong>Published Date</strong>
                        <span>@book.PublishedYear</span>
                    </li>
                    <li class="book-detail-item">
                        <strong>Introduction : </strong>
                        <p>
                            @book.Description
                        </p>
                    </li>
                </ul>
                <button onclick="handleClickReadOnline(@book.BookId)" class="btn btn-success">Đọc sách online</button>
            </div>
        </div>
    </div>
}